@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  color: #1F1F1D;
  background: #FAFAF7;
}

::selection {
  background-color: #5C6B4F;
  color: #FFFFFF;
}
